@font-face {
	font-family: Roboto-Mono;
	src: url('./assets/Roboto_Mono/static/RobotoMono-Regular.ttf');
	font-weight: 700;
}

:root {
  --mainColor: darkslategray;
  --secondaryColor: darkgray;
  --textColor: white;
  --backgroundColor:	#130050;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--backgroundColor) !important;
  color: var(--textColor) !important;
  font-family: 'Roboto-Mono' !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}


input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/* Navbar Css */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.5s ease-in-out;
}
nav.navbar.scrolled {
  padding: 15px 0;
  background-color: var(--backgroundColor);
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--textColor);
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color: var(--mainColor); 
}
span.navbar-icon {
    display: flex;
    align-items: center;
}
.contact-icon {
    display: inline-block;
    margin-left: 14px;
}
.contact-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.contact-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.contact-icon a:hover::before {
    transform: scale(1);
}
.contact-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.contact-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


/* Banner Styling */

.banner{
  margin-top:0;
  padding: 250px 0 100px 0;
  background-image: url('./assets/images/background.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.banner img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  width: 350px;
  margin-left:30px;
  
}

.banner h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}

.banner p {
  font-size: 17px;
  letter-spacing: 0.7px;
  width: 80;
  color: var(--textColor);
  text-align: center;
}


/* Education Styling */

.education {
  margin-top:0;
  padding: 25px;
  background-color:var(--backgroundColor);
}

.education h1 {
  text-align: center;
  font-size: 50px;
}

.education img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 5%;

}

.education p {
  text-align: center;
  font-size: 15px;
}

.education-box {
  background: #511567;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  margin-bottom: 25px;
}
/* Projects Styling */
.projects {
  margin-top:0;
  padding: 25px;
  background-color: var(--backgroundColor);
}

.projects h1 {
  text-align: center;
  font-size: 50px;
}

.projects p {
  text-align: center;
  font-size: 15px;
}

.projects img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 4%;

}

.project-box {
  background: #511567;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  margin-bottom: 30px;
}
/* Experience Styling */
.experience {
  padding:0 0 50px 0;
  position: relative;
}
.experience img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 3%;

}
.experience-box {
  background:#511567;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  margin-bottom: 30px;
}

.experience h5 {
  font-size: 45px;
  font-weight: 700;
  padding: 20px;
}


.experience h2 {
  font-size: 20px;
  font-weight: 700;
}

.experience p {
  color: transparent;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.experience-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}


.contact {
  padding:0 0 50px 0;
  position: relative;
}
.contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 3%;

}

.contact-button {
  background-color: #7e269f;
  border-radius: 64px;
  padding: 20px;
  text-align: center;

  cursor: pointer;
  margin-right: 10px;
}

.contact-button a {
  text-decoration: none;
  color: black;
}

.contact-button:hover {
  background-color: #f0f0f0;
}

.contact-box {
  background:#511567;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -5px;
  
}

.contact h5 {
  font-size: 45px;
  font-weight: 700;
  padding: 20px;
}


.contact h2 {
  font-size: 20px;
  font-weight: 700;
}

.contact p {
  color: white;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.contact-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

